
.basket-card {
  border: 1px solid rgba(#e4e4e4, 0.4);
  width: 100%;
  
  &:hover {
    .basket-card__close {
      opacity: 1;
      visibility: visible;
    }
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  
  &__article {
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__photo {
    min-width: 200px;
    height: 200px;
    background-color: #fff;
    display: flex;
  }

  &__image {
    height: 80%;
    margin: auto;
  }

  &__title,
  &__price {
    display: block;
    padding: 5px 15px;
    max-width: 200px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
  }

  &__price {
    font-size: 33px;
  }

  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-weight: 700;
    right: 5px;
    top: 5px;
    opacity: 0;
    visibility: hidden;
    line-height: 30px;
    transition: all 0.3s ease-in;
  }
}