
.basket-header {
  margin-right: 15px;
  &__btn {
    width: 35px;
    display: flex;
    height: 35px;
  }

  &__icon {
    margin: auto;
    width: 30px;
    height: 30px;
    fill: #fff;
    path {
      fill: #fff;
    }
  }

}