
.basket-header {
  margin-right: 15px;
  &__btn {
    width: 35px;
    display: flex;
    height: 35px;
  }

  &__icon {
    margin: auto;
    width: 30px;
    height: 30px;
    fill: #fff;
    path {
      fill: #fff;
    }
  }

  &__link {
    position: relative;
  }

  &__count {
    position: absolute;
    right: -5px;
    top: -1px;
    color: #fff;
    background-color: green;
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    width: 17px;
    height: 17px;
    line-height: 1;
    font-weight: 700;
  }
}