

.card-page {
  min-height: 100vh;
  padding: 100px 0;

  &__article {
    display: flex;
    padding: 20px;
    border-radius: 100px;
    background-color: rgba(#fff, 0.1);
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__photo {
    min-width: 300px;
    height: 400px;
    display: flex;
    @media screen and (max-width: 992px)  {
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  
  &__image {
    border-radius: 100px;
    height: auto;
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 992px) {
      min-width: 300px;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 38px;
    letter-spacing: 3px;
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  &__price {
    display: block;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }

  &__text {
    width: 70%;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 19px;
    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }
}


.loading {
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}