
@import "../../scss-setings/vars.scss";


.navigation {
  margin-right: auto;

  &__list {
    display: flex;
    align-items: center;
  }
  
  &__item {
    transform: skew(-6deg);
    &:not(:last-child) {
      margin-right: 10px;
      @media screen and (max-width: 720px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    padding: 3px 10px;
    color: $text;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;

    &--active {
      transition: color 0.3s ease-in-out;
      color: #fff;
      border: 1px solid #fff;
    }
  }



  @media screen and (max-width: 720px) {
    position: absolute;
    z-index: 90;
    inset: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    background-color: rgba(#000, 0.7);
    transition: transform 0.3s ease;
    
    .navigation__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
  
  &--active {
    @media screen and (max-width: 720px) {
      transition: transform 0.3s ease;
      transform: translateX(0%);
    }
  }

}